{{> partials/header }}

<h3>Fale conosco</h3>
<p>Preencha o formulário abaixo</p>
<form action="#" method="post">
    <label>Nome:</label><br>
    <input type="text"><br><br>

    <label>E-mail:</label><br>
    <input type="email"><br><br>

    <label>Mensagem:</label><br>
    <textarea cols="30" rows="10"></textarea><br><br>

    <input type="submit" value="Enviar">
</form>

{{> partials/footer }}