{{> partials/header }}

<h3>Sobre o projeto</h3>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id dicta omnis asperiores deserunt expedita dolor nihil
    beatae alias quos. Facere, voluptas. Facere voluptatum numquam velit expedita voluptatem quasi? Natus, autem!</p>

{{> partials/footer }}